<div class="jumbotron">
  <h1>Linked Data UI</h1>      
  <p>Convenient UI designed to query university ontology</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <select (change)="onSelect($event.target.value)" 
              class="custom-select">
        <option *ngFor="let form of forms" 
                 >{{form.query}}</option>
      </select>
    </div>
    <div class="col-sm-9 text-center">
      <!-- Inject Form Here -->
      <ng-template form-directive></ng-template>
    </div>
  </div>
  <div class="row">
    <!-- dynamically generated table -->
    <app-result-display></app-result-display>
  </div>
</div>