<div class="jumbotron">
  <h1>Linked Data UI</h1>      
  <p>Convenient UI designed to query university ontology</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <select (change)="onSelect($event.target.value)" 
              class="custom-select">
        <option *ngFor="let query of queryOptions" 
                 >{{query}}</option>
      </select>
    </div>
    <div class="col-sm-9">
      <!-- form -->
    </div>
  </div>
  <div class="row">
    <!-- dynamically generated table -->
  </div>
</div>